<% @coupons.each do |coupon| %>
	<div class="coupon pad10 marb10">
		<div class="title"><%= coupon.headline %></div>
		<div class="body"><%= coupon.body %></div>
		<div class="expire"><strong>expires:</strong>&nbsp;<%= coupon.expire %></div>
		<div class="right"><a href="#" class="orangeButton">Print</a></div>
		<div class="clear"></div>
	</div>
<% end %>