<ul class="menuitem">
	<li class="menuitem"><%= link_to "Manage Businesses", businesses_manager_path %></li>
	<li class="menuitem"><%= link_to "Manage Articles", articles_manager_path %></li>
	<li class="menuitem"><%= link_to "Manage Categories", categories_manager_path %></li>
	<li class="menuitem"><%= link_to "Manage Users", users_manager_path %></li>
</ul>
	