		
<table cellspacing="5" class="get-noticed">
<tr>
<th>&nbsp;</th>
<th>Basic</th>
<th>Standard</th>
<th>Premium</th>
</tr>

<tr>
<td><span class="packageContentHeading">Basic listing information</span><br/>name, address, phone, email</td>
<td><img src="images/checkmark.png"/></td>
<td><img src="images/checkmark.png"/></td>
<td><img src="images/checkmark.png"/></td>
</tr>

<tr>
<td><span class="packageContentHeading">Enhanced listing information</span><br/>Year Establish, Payment Method, Services, Business hours</td>
<td><img src="images/xmark.png"/></td>
<td><img src="images/checkmark.png"/></td>
<td><img src="images/checkmark.png"/></td>
</tr>

<tr>
<td><span class="packageContentHeading">Specialized features</span><br/>Comments, SEO optimization</td>
<td><img src="images/xmark.png"/></td>
<td><img src="images/checkmark.png"/></td>
<td><img src="images/checkmark.png"/></td>
</tr>

<tr>
<td><span class="packageContentHeading">Let people know more about your business</span><br/>Photos, Coupons, Products</td>
<td><img src="images/xmark.png"/></td>
<td><img src="images/xmark.png"/></td>
<td><img src="images/checkmark.png"/></td>
</tr>
<tr>
<td><span class="packageContentHeading">Get more exposure</span><br/>Featured on homepage, listed above other results.</td>
<td><img src="images/xmark.png"/></td>
<td><img src="images/xmark.png"/></td>
<td><img src="images/checkmark.png"/></td>
</tr>
</table>
